<!-- Starting Career Component Page For Internship -->
<!-- Adding Crouser -->

<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Career</h1>
            <a href="" class="h5 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h5 text-white">Career</a>
        </div>
    </div>
</div>

 <!-- Service Start -->

<!-- Start First Section -->


<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Career With Internship</h5>
            <h1 class="mb-0">Improve Your Skills With ApanaTime</h1>
        </div>
        <div class="col-md-4 mt-4 mt-sm-0 d-none d-md-block">

        </div><!--end col-->
    </div><!--end row-->

    <!------------------------------ Adding Extra Section For HR Mail ---------------------------->

        <div class="container py-5">
            <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.4s">
                <div class="bg-primary d-flex align-items-center justify-content-center rounded"
                    style="width: 60px; height: 60px;">
                    <i class="fa fa-envelope-open text-white"></i>
                </div>
                <div class="ps-4">
                    <h5 class="mb-2">If you want to join our Internship Program then contect with our HR Excutive through given Email address or click on Apply Button.</h5>
                    <a href="mailto:hr.apanatime@gmail.com"><h4 class="text-primary mb-0">hr.apanatime&#64;gmail.com</h4></a>
                </div>
            </div>
        </div>


       <!------------------------------End Section For HR Mail ---------------------------->

    <!-- Start Second Section -->

    <div class="row">
        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card border-0 bg-light rounded shadow">
                <div class="card-body p-4">
                    <span class="badge rounded-pill bg-primary float-md-end mb-3 mb-sm-0">Unpaid</span>
                    <h4>Front-End Internship</h4>
                    <br>
                    <div class="mt-3">
                        <span class="text-muted d-block"><i class="bi bi-clock-history" aria-hidden="true"></i> 3 Months</span>
                        <br>
                        <span class="text-muted d-block"><i class="fa fa-map-marker" aria-hidden="true"></i> Remote</span>
                    </div>

                    <div class="mt-3">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLScnU153uTNSWuGhiMPFKDgFqSbubVeyJlGhI9JKxkzLreOOaQ/viewform?usp=sf_link" rel="noopener" target="_blank" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Apply Now</a>
                    </div>
                </div>
            </div>
        </div><!--end col-->

        <!-- Start Third Section -->

        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card border-0 bg-light rounded shadow">
                <div class="card-body p-4">
                    <span class="badge rounded-pill bg-primary float-md-end mb-3 mb-sm-0">Unpaid</span>
                    <h4>Back-end Internship</h4>
                    <br>
                    <div class="mt-3">
                        <span class="text-muted d-block"><i class="bi bi-clock-history" aria-hidden="true"></i>  3 Months</span>
                        <br>
                        <span class="text-muted d-block"><i class="fa fa-map-marker" aria-hidden="true"></i> Remote</span>
                    </div>

                    <div class="mt-3">
                        <a href="https://forms.gle/6qcFEuicBb7eh4Cm6" rel="noopener" target="_blank" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Apply Now</a>
                        <!-- <p   class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Vaccancy Full</p> -->
                    </div>
                </div>
            </div>
        </div><!--end col-->

        <!-- Start Fourth Section -->

        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card border-0 bg-light rounded shadow">
                <div class="card-body p-4">
                    <span class="badge rounded-pill bg-primary float-md-end mb-3 mb-sm-0">Unpaid</span>
                    <h4>Data Analyst Internship</h4>
                    <br>
                    <div class="mt-3">
                        <span class="text-muted d-block"><i class="bi bi-clock-history" aria-hidden="true"></i> 3 Months</span>
                        <br>
                        <span class="text-muted d-block"><i class="fa fa-map-marker" aria-hidden="true"></i> Remote</span>
                    </div>

                    <div class="mt-3">
                        <a href="https://forms.gle/26CfGhzBgUXqPwj16" rel="noopener" target="_blank" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Apply Now</a>
                    </div>
                </div>
            </div>
        </div><!--end col-->

        <!-- Start Fifth Section -->

        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card border-0 bg-light rounded shadow">
                <div class="card-body p-4">
                    <span class="badge rounded-pill bg-primary float-md-end mb-3 mb-sm-0">Unpaid</span>
                    <h4>Power BI Internship</h4>
                    <br>
                    <div class="mt-3">
                        <span class="text-muted d-block"><i class="bi bi-clock-history" aria-hidden="true"></i> 3 Months</span>
                        <br>
                        <span class="text-muted d-block"><i class="fa fa-map-marker" aria-hidden="true"></i> Remote</span>
                    </div>

                    <div class="mt-3">
                        <a href="https://forms.gle/Wng3aBSuXivF24Zr9" rel="noopener" target="_blank" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Apply Now</a>
                    </div>
                </div>
            </div>
        </div><!--end col-->

        <!-- Start Sixth Section -->

        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card border-0 bg-light rounded shadow">
                <div class="card-body p-4">
                    <span class="badge rounded-pill bg-primary float-md-end mb-3 mb-sm-0">Unpaid</span>
                    <h4>Python Internship</h4>
                    <br>
                    <div class="mt-3">
                        <span class="text-muted d-block"><i class="bi bi-clock-history" aria-hidden="true"></i> 3 Months</span>
                        <br>
                        <span class="text-muted d-block"><i class="fa fa-map-marker" aria-hidden="true"></i> Remote</span>
                    </div>

                    <div class="mt-3">
                        <a href="https://forms.gle/viqcH6iXhX11swiC8" target="_blank" rel="noopener" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Apply Now</a>
                    </div>
                </div>
            </div>
        </div><!--end col-->

        <!-- Start Seventh Section -->


        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
            <div class="card border-0 bg-light rounded shadow">
                <div class="card-body p-4">
                    <span class="badge rounded-pill bg-primary float-md-end mb-3 mb-sm-0">Unpaid</span>
                    <h4>Flutter Internship</h4>
                    <br>
                    <div class="mt-3">
                        <span class="text-muted d-block"><i class="bi bi-clock-history" aria-hidden="true"></i> 3 Months</span>
                        <br>
                        <span class="text-muted d-block"><i class="fa fa-map-marker" aria-hidden="true"></i> Remote</span>
                    </div>

                    <div class="mt-3">
                        <a href="https://forms.gle/pfcPTgjgoaT258AM8" target="_blank" rel="noopener" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Apply Now</a>
                    </div>
                </div>
            </div>
        </div><!--end col-->
    </div>
</div>
<!-- Service End -->
