
    <!-- Team Start -->

    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Team Members</h5>
                <h1 class="mb-0">Professional Stuffs Ready to Help Your Business</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="assets/img/team/NK_team.jpg" alt="">
                            <div class="team-social">
                                <!-- <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-instagram fw-normal"></i></a> -->
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/nikhil-kumar-2a1666226/"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href="mailto:nikhilapanatimeat@gmail.com"><i class="fas fa-envelope fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">Nikhil</h4>
                            <p class="text-uppercase m-0">Business Analyst</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="assets/img/team/DK_team.jpg" alt="">
                            <div class="team-social">
                                <!-- <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-instagram fw-normal"></i></a> -->
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/dhananjay-kushwaha-07b556328/"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href="mailto:hr.apanatime@gmail.com"><i class="fas fa-envelope fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">Dhananjay Kushwaha</h4>
                            <p class="text-uppercase m-0">Senior HR Executive</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="assets/img/team/Ak_team.jpg" alt="">
                            <div class="team-social">
                                <!-- <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-instagram fw-normal"></i></a> -->
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/anish-kumar-tech/"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href="mailto:anishapanatime@gmail.com"><i class="fas fa-envelope fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">Anish Kumar</h4>
                            <p class="text-uppercase m-0">Senior Data Scientist</p>
                            <!-- <span>Anishapanatime&#64;gmail.com</span> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="assets/img/team/Abhi_team.jpg" alt="">
                            <div class="team-social">
                                <!-- <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-instagram fw-normal"></i></a> -->
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/abhishek-roy-b98175212?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app "><i class="fab fa-linkedin-in fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href="mailto:abhishekwriter2000@gmail.com"><i class="fas fa-envelope fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">Abhishek Roy</h4>
                            <p class="text-uppercase m-0">Senior Data Analyst</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="assets/img/team/Bal_team.jpg" alt="">
                            <div class="team-social">
                                <!-- <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-instagram fw-normal"></i></a> -->
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/bal-govind-maurya-samar-9b8231218/"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href="mailto:govindbal866@gmail.com"><i class="fas fa-envelope fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">Samer</h4>
                            <p class="text-uppercase m-0">Senior App developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="assets/img/team/PY_team.jpg" alt="">
                            <div class="team-social">
                                <!-- <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-instagram fw-normal"></i></a> -->
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/prem-kumar-yadav-15a06a208/"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href="mailto:officeworkprem@gmail.com"><i class="fas fa-envelope fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">Prem kumar yaadv</h4>
                            <p class="text-uppercase m-0">Python developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="assets/img/team/ST_team.jpg" alt="">
                            <div class="team-social">
                                <!-- <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-instagram fw-normal"></i></a> -->
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/ershivamtiwari/"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href="mailto:shivam.apanatime@gmail.com"><i class="fas fa-envelope fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">Shivam Tiwari</h4>
                            <p class="text-uppercase m-0">Web developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="assets/img/team/SK_team.jpg" alt="">
                            <div class="team-social">
                                <!-- <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href=""><i class="fab fa-instagram fw-normal"></i></a> -->
                                <!-- <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/bal-govind-maurya-samar-9b8231218/"><i class="fab fa-linkedin-in fw-normal"></i></a> -->
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" target="_blank" rel="noopener noreferrer" href="mailto:Shivachaudharyapanatime@gmail.com"><i class="fas fa-envelope fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">Shivam kumar Chaudhary</h4>
                            <p class="text-uppercase m-0">Web Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Team End -->